body {
    margin: 0;
}

.head-banner {
    width: 100%;
    /* padding: 20px; */
    background: linear-gradient(#0c488c, #0c488c, #0c488c, #ffffff);
}

.head-logo {
    padding: 20px 30px 10px 30px;
}

.head-title {
    /* height: 60px; */
    padding: 0 30px;
    color: white;
    /* font-weight: bold; */
}

.abstract {
    margin: 0px;
    font-size: 10pt;
    text-align: justify;
    text-justify: newspaper;
}

.sub-para {
    padding: auto;
    margin: 0;
}

.introduction {
    padding: 20px 40px 60px 30px;
    color: white;
    font-size: 10pt;
    text-align: justify;
    text-justify: newspaper;
}

.content {
    width: 100%;
    /* background-color: blueviolet; */
    /* display: block; */
}

.demos {
    display: block;
    margin: 0 auto;
    max-width: 1048px;
    position: relative;
    background-color: #e8f1ff;
}

.demo-description {
    padding: 5px 40px;
}

.demo-item {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 10px;
}

.center-box {
    /* padding: 20px 0; */
    margin: auto 0;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

.footer {
    margin-top: 20px;
    height: 100px;
    background-color: #0c488c;
}

.footer-logo {
    margin: auto auto;
    padding: 16px;
    text-align: center;
    display: flex;
    width: fit-content;
}

.mid-line {
    width: 1px;
    height: 60px;
    margin: 0 8px 0 10px;
    background-color: #e2e2e2;
}